[submodule "sqlcipher"]
	path = sqlcipher
	url = https://gitlab2.rongcloud.net/rust/sqlcipher.git
[submodule "openssl"]
	path = openssl
	url = https://gitlab2.rongcloud.net/rust/openssl.git
[submodule "zstd"]
	path = zstd
	url = https://gitlab2.rongcloud.net/rust/zstd.git
